

body {
    background:lightgray;
}

#teamss {
    width:80%;
    margin:auto;
}

.team {
    padding:10px;
    margin:10px;
    background:lightskyblue;
    border:3px solid white;
}

.team-form {
    width:40%;
    background:lightyellow;
    border:3px solid white;
    padding:10px;
    margin:10px auto;
}