* { /* means everything*/
    box-sizing: border-box;
}

header,section, footer, aside, article{
    margin:10px auto;
    width: 90%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

body{
    background-image:url("images/cake.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background:rgba(218,112,214,0.7);
}

section{
    background:silver;
}

footer{
    background:DarkSalmon;
}
aside{
background:DarkSalmon;
}
article{
    background: white;
}

nav li{
    list-style-type:none;
    float: left;
}
nav a { /*a is for anchor(link)*/
    background:hotpink;
    color:#fff;
    text-decoration:none;
    list-style-type:none;
    padding:5px;
}

nav a:hover{
    background:silver;
}

nav {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}


.twocolumns {
    background:silver;
 
    justify-content: space-around;
}
.twocolumn{
    flex-basis: 45%;
}
.col1of2{
    background: pink;

}
.col2of2{
    background:lightblue;

}




.threecolumns {
    background:silver;
    
}
.col1of3{
    background: honeydew;
    flex:1;
    order:2;
}

.col2of3{
    background:springgreen;
    flex:1;
    order:3;
}

.col3of3{
    background: violet;
    flex:1;
    order:1;    
}

.images {
    margin:20px;
    justify-content: space-around;
}

@media (min-width:900px){
  .twocolumns, .threecolumns, .images{
        display: flex;
    }
}



@media screen and (orientation: landscape) {
    nav {
        flex-direction: column 
    }
}

@media screen and (orientation: portrait) {
    nav {
   
      position: fixed;
      width: 2.65em;
      height: 100%;
    }
    }

