* { /* means everything*/
    box-sizing: border-box;
}

header,section, footer, aside, article{
    margin:10px auto;
    width: 90%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background:#53FFB8;
}

section{
    background:#F5D0A4;
}

footer{
    background:#F97CFF;
}
aside{
    background:DarkSalmon;
}
article{
    background: white;
}

nav li{
    list-style-type:none;
    float: left;
}
nav a { /*a is for anchor(link)*/
    background:#E8AFA0;
    color:#fff;
    text-decoration:none;
    list-style-type:none;
    padding:5px;
}

nav a:hover{
    background:#1AB7D6;
}




.twocolumns {
    background:#F5D0A4;
}
.col1of2{
    background: pink;

}
.col2of2{
    background:lightblue;

}




.threecolumns {
    justify-content: space-around;
    background:#F5D0A4;
    
}

.col1of3{
    background: blue;
    flex:1;

}

.col2of3{
    background:white;
    flex:1;

}

.col3of3{
    background: red;
    flex:1;
    
}

.images {
    flex:1;
    margin:auto;
    width:90%;
    justify-content: space-between;
}

@media (min-width:600px){
  .twocolumns, .threecolumns, .images{
        display: flex;
    }
}



@media screen and (orientation: landscape) {
    .twocolumns, .threecolumns, .images{
        display: flex;
    }
    nav {
        flex-direction: column 
    }
}
@media screen and (orientation: portrait) {
    nav {
   
      /*position: fixed;*/
      width: 2.65em;
      height: 20%;
      
    }
}

