 body{
    background:lightgreen;
    
}

.team{
    display: flex;
    flex-direction: column;
    background:lightcoral;
    width:80%;
    /* margin:auto; */
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    border-spacing: 10px 20px;
    /* justify-content: space-around; */
} 


