#container {
  text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    
    background: 	#696969;
  
  }
  .he{
    align-items: center;
  }

  .box {
    width: 400px;
    margin: 5px;
    text-align: left;
    border-radius: 10px;
    background:aqua;
    padding: 10px;
  }
  
  .p{
    text-align: left;
  }