/*  
 * {
  box-sizing: border-box
}  */

 #container {
  text-align: justify;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  border-radius: 10px; 
  background: 	#696969;
  
} 

/* #container input{
  align-items: right;
  width:70%;
}
#container label{
  width:30%;
} */

label { 
  display: table-cell; 
  
}
input { 
  display: table-cell; 
  width:98%;
}

.box {
  width:1100px;
  margin: 20px; 
  text-align: center;
  border-radius: 10px;
   /* background:aqua;  */
  padding: 20px; 
 
    
}  

.threerow {
  display: flex;
  
  justify-content: space-around;
  flex-direction: row;
  padding: 5px;
  border-radius: 10px; 
}

.row1o3{
  background: lightblue;
  flex-basis: 30%;
  padding: 5px;
  border-radius: 10px;
  
}
/* .row2o3{
  background: lightblue;
  flex-basis: 30%;
}
.row3o3{
  background: lightcoral;
  flex-basis: 30%;
} */


button{
  width: 290px;
}

/*Does this if the minimum width is at least*/
@media (min-width:900px) {
  .threerow {
      display:flex;
      justify-content: space-around;
      /* padding: 5px; */
  }
}